.u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 679px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  margin: 60px 0 0;
}

.u-section-1-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 13px 0 0;
}

.u-section-1-1 .u-image-1 {
  min-height: 659px;
  background-image: url("images/pexels-anna-shvets-3851911.png");
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 560px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 543px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 416px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 624px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 393px;
  }
}.u-section-1-2 {
  background-image: none;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 699px;
}

.u-section-1-2 .u-layout-wrap-1 {
  margin-top: 105px;
  margin-bottom: 0;
}

.u-section-1-2 .u-layout-cell-1 {
  min-height: 594px;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  margin: 51px 0 0;
}

.u-section-1-2 .u-text-2 {
  animation-duration: 1000ms;
  margin: 35px 0 0;
}

.u-section-1-2 .u-image-1 {
  min-height: 594px;
  background-image: url("images/pexels-anna-shvets-3851914.png");
  background-position: 50% 50%;
}

.u-section-1-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 490px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 375px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 563px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 354px;
  }
}.u-block-0005-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-0005-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}

.u-block-0005-4 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: auto;
  right: 0;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2096px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1020px;
}

.u-section-2 .u-container-layout-1 {
  padding: 18px 29px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 12px 345px 0 2px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0 2px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 20px auto 0 1px;
}

.u-section-2 .u-text-4 {
  font-weight: 600;
  margin: 20px auto 0 2px;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  margin: 36px auto 0 1px;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  margin: 20px auto 0 1px;
}

.u-section-2 .u-text-7 {
  font-weight: 600;
  margin: 20px auto 0 1px;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  margin: 36px auto 0 2px;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  margin: 20px auto 0 3px;
}

.u-section-2 .u-text-10 {
  font-weight: 600;
  margin: 19px auto 0 2px;
}

.u-section-2 .u-text-11 {
  font-weight: 400;
  margin: 36px auto 0 2px;
}

.u-section-2 .u-text-12 {
  font-weight: 400;
  line-height: 1.6;
  margin: 19px 1px 0;
}

.u-section-2 .u-text-13 {
  font-weight: 600;
  margin: 21px auto 0 2px;
}

.u-section-2 .u-text-14 {
  font-weight: 400;
  margin: 36px auto 0 1px;
}

.u-section-2 .u-text-15 {
  font-weight: 400;
  line-height: 1.6;
  margin: 20px 1px 0;
}

.u-section-2 .u-text-16 {
  font-weight: 600;
  margin: 20px auto 0 1px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: 700;
  background-image: none;
  margin: 49px 0 0;
  padding: 13px 174px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1020px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 815px;
  margin-top: 0;
  margin-bottom: 0;
  transition-duration: 0.5s;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 956px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0 29px;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  margin: 9px 210px 0 30px;
}

.u-section-2 .u-image-2 {
  height: 705px;
  width: 540px;
  transition-duration: 0.5s;
  margin: 30px 0 0 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 956px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-text-18 {
  font-weight: 400;
  margin: 0 auto 0 32px;
}

.u-section-2 .u-text-19 {
  font-weight: 400;
  margin: 20px auto 0 31px;
}

.u-section-2 .u-text-20 {
  font-weight: 600;
  margin: 20px auto 0 32px;
}

.u-section-2 .u-text-21 {
  font-weight: 400;
  margin: 36px auto 0 31px;
}

.u-section-2 .u-text-22 {
  font-weight: 400;
  margin: 20px auto 0 31px;
}

.u-section-2 .u-text-23 {
  font-weight: 600;
  margin: 19px auto 0 31px;
}

.u-section-2 .u-text-24 {
  font-weight: 400;
  margin: 37px auto 0 32px;
}

.u-section-2 .u-text-25 {
  font-weight: 400;
  margin: 20px auto 0 33px;
}

.u-section-2 .u-text-26 {
  font-weight: 600;
  margin: 19px auto 0 32px;
}

.u-section-2 .u-text-27 {
  font-weight: 400;
  margin: 36px auto 0 32px;
}

.u-section-2 .u-text-28 {
  font-weight: 400;
  line-height: 1.6;
  margin: 20px 31px 0;
}

.u-section-2 .u-text-29 {
  font-weight: 600;
  margin: 20px auto 0 32px;
}

.u-section-2 .u-text-30 {
  font-weight: 400;
  margin: 36px auto 0 31px;
}

.u-section-2 .u-text-31 {
  font-weight: 400;
  line-height: 1.6;
  margin: 20px 31px 0;
}

.u-section-2 .u-text-32 {
  font-weight: 600;
  margin: 20px auto 0 31px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 1.125rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: 700;
  background-image: none;
  margin: 49px 19px 0 auto;
  padding: 13px 174px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 841px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 2px;
  }

  .u-section-2 .u-layout-cell-2 {
    background-position: 38.7% 57.36%;
    background-size: auto 110%;
    min-height: 841px;
  }

  .u-section-2 .u-image-1 {
    height: 672px;
    transform: scale(1.07) translateX(-20px);
  }

  .u-section-2 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 788px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 634px;
    width: 486px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 788px;
  }

  .u-section-2 .u-text-31 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 1px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 1px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 644px;
  }

  .u-section-2 .u-image-1 {
    height: 515px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-image-2 {
    height: 485px;
    width: 372px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1598px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1053px;
  }

  .u-section-2 .u-image-1 {
    height: 858px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 663px;
  }

  .u-section-2 .u-image-1 {
    height: 540px;
  }

  .u-section-2 .u-image-2 {
    height: 443px;
    width: 340px;
  }
}

.u-section-2 .u-image-1 {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-2 .u-image-1:hover {
  transform: scale(1.04) translateX(-10px) translateY(15px) !important;
}

.u-section-2 .u-image-2 {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-2 .u-image-2:hover {
  transform: scale(1.05) translateY(10px) translateX(15px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 768px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 768px;
}

.u-section-3 .u-container-layout-1 {
  padding: 18px 29px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 12px 269px 0 2px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 20px auto 0 1px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 20px auto 0 1px;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  margin: 20px 263px 0 1px;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  margin: 36px auto 0 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  margin: 18px auto 0 0;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  margin: 22px auto 0 0;
}

.u-section-3 .u-text-12 {
  font-weight: 400;
  margin: 20px auto 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: 700;
  background-image: none;
  margin: 64px 0 0;
  padding: 13px 174px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 768px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 65px;
}

.u-section-3 .u-image-1 {
  height: 553px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 1.19%;
  transition-duration: 0.5s;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 633px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 2px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 1px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 38.7% 57.36%;
    background-size: auto 110%;
    min-height: 633px;
  }

  .u-section-3 .u-image-1 {
    height: 456px;
    transform: translateX(-15px) translateY(10px) scale(1.06);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-10 {
    margin-top: -22px;
  }

  .u-section-3 .u-text-12 {
    margin-top: -22px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -3px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 485px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 350px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 847px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 18px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 20px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 64px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1053px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-10 {
    margin-top: -22px;
  }

  .u-section-3 .u-text-12 {
    margin-top: -22px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -3px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 663px;
  }

  .u-section-3 .u-image-1 {
    height: 342px;
  }
}

.u-section-3 .u-image-1 {
  transition-property: color, background-color, background-image, border-width, box-shadow, text-shadow, opacity, border-radius, border-color, font-size, font-style, font-weight, font-weight, text-decoration, letter-spacing, transform !important;
}

.u-section-3 .u-image-1:hover {
  transform: translateX(-15px) translateY(15px) scale(1.06) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 2219px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: 20px auto 0 20px;
}

.u-section-4 .u-image-1 {
  width: 1120px;
  height: 440px;
  margin: 30px 0 0 auto;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 60px auto 0 21px;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  line-height: 1.6;
  margin: 20px auto 0 20px;
}

.u-section-4 .u-text-4 {
  font-weight: 600;
  margin: 20px auto 0 21px;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  margin: 40px auto 0 21px;
}

.u-section-4 .u-text-6 {
  font-weight: 400;
  line-height: 1.6;
  margin: 20px auto 0 20px;
}

.u-section-4 .u-text-7 {
  font-weight: 600;
  margin: 20px auto 0 21px;
}

.u-section-4 .u-text-8 {
  font-weight: 400;
  margin: 40px auto 0 21px;
}

.u-section-4 .u-text-9 {
  font-weight: 400;
  line-height: 1.6;
  margin: 20px auto 0 20px;
}

.u-section-4 .u-text-10 {
  font-weight: 600;
  margin: 20px auto 0 21px;
}

.u-section-4 .u-text-11 {
  font-weight: 400;
  margin: 40px auto 0 22px;
}

.u-section-4 .u-text-12 {
  font-weight: 400;
  margin: 20px auto 0 21px;
}

.u-section-4 .u-text-13 {
  font-weight: 600;
  margin: 20px auto 0 22px;
}

.u-section-4 .u-text-14 {
  font-weight: 400;
  margin: 40px auto 0 23px;
}

.u-section-4 .u-text-15 {
  font-weight: 400;
  line-height: 1.8;
  margin: 20px auto 0 22px;
}

.u-section-4 .u-text-16 {
  font-weight: 600;
  margin: 20px auto 0 23px;
}

.u-section-4 .u-text-17 {
  font-weight: 400;
  margin: 39px auto 0 24px;
}

.u-section-4 .u-text-18 {
  font-weight: 400;
  margin: 21px auto 0 23px;
}

.u-section-4 .u-text-19 {
  font-weight: 600;
  margin: 20px auto 0 24px;
}

.u-section-4 .u-text-20 {
  font-weight: 400;
  margin: 40px auto 0 23px;
}

.u-section-4 .u-text-21 {
  font-weight: 400;
  line-height: 1.6;
  margin: 20px auto 0 22px;
}

.u-section-4 .u-text-22 {
  font-weight: 600;
  margin: 20px auto 0 23px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 1.125rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  font-weight: 700;
  background-image: none;
  margin: 60px auto 60px 0;
  padding: 13px 174px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2148px;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 369px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2062px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1991px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1912px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 133px;
  }
}